@import "tailwindcss";

:root {
  --background: #1a6953;
  --foreground: #ededed;
  --textColor: #e6dfc1;
  --customYellow: #ffc627;
  --navyBlue: #1f4047;
  --customBlack: #262626;
  --customGreen: #8c973d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--textColor);
  --color-yellow: var(--customYellow);
  --color-navy: var(--navyBlue);
  --color-black-custom: var(--customBlack);
  --color-green-custom: var(--customGreen);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a6953;
    --foreground: #ededed;
    --textColor: #e6dfc1;
    --customYellow: #ffc627;
    --navyBlue: #1f4047;
    --customBlack: #262626;
    --customGreen: #8c973d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}